Button {
    -fx-background-color: #BFF2E8;
    -fx-background-radius: 6px;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
Button:hover{
    -fx-background-color: #00BE98;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box ,#11999E, 5, 0, 0, 0);
}


Text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #000000;
}

Textfield {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 80px;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: black;

}
.table-view {
    -fx-background-color: #f5f5f5; /* Background color */
    -fx-font-family: Roboto; /* Font family */
}

.table-view .column-header-background {
    -fx-font-family: Roboto;
    -fx-background-color: #333; /* Header background color */
}

.table-view .column-header {
    -fx-text-fill: white; /* Header text color */
    -fx-font-weight: bold; /* Header text weight */
}

.table-row-cell {
    -fx-background-color: #fff; /* Row background color */
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2; /* Alternate row background color */
}

.table-cell {

    -fx-text-fill: #333; /* Cell text color */
    -fx-alignment: center; /* Cell text alignment */
    -fx-font-size: 14px; /* Cell text size */
    -fx-font-family: Arial, sans-serif; /* Cell text font family */
}

.table-cell:empty {
    -fx-background-color: transparent; /* Empty cell background */
}

.table-row-cell:selected {
    -fx-background-color: rgba(0, 123, 255, 0.55); /* Selected row background color */
    -fx-text-fill: white; /* Selected row text color */
}

.table-cell:selected {
    -fx-background-color: #007bff; /* Selected cell background color */
    -fx-text-fill: white; /* Selected cell text color */
}
