.main{
    -fx-background-color: #ffffff;
}

.text_topic{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-font-family:"Arial Black";

}

.text_normal{
    -fx-font-size: 15;
    -fx-fill: #000000;
    -fx-font-family: "Corbel Light";

}

.text_normal2{
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-font-family:Arial, sans-serif;

}

.main_pane{
   -fx-background-color: #dcfbf7;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);

}

.text_total{
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-font-family:"Arial Black";
}

.text_topic2{
    -fx-font-size: 38;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-font-family:"Arial Black";

}