Button {
    -fx-background-color: #BFF2E8;
    -fx-background-radius: 6px;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
Button:hover{
    -fx-background-color: #00BE98;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box ,#11999E, 5, 0, 0, 0);
}


Text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #000000;
}

Textfield {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 80px;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: black;

}



