.Pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}

.left_main {
    -fx-background-color: #E4F9F5;
}

.search{
    -fx-border-color: #ffffff;
    -fx-border-width: 0px;
    -fx-background-color:#E4F9F5;
    -fx-prompt-text-fill: #000000;

}

.Pane_selected Pane:hover {
    -fx-background-color: #000000;
    -fx-effect: hand;
    -fx-background-radius: 20px;
}

.Animal_numbers{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #000000;
}

.image_pets{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 80px;
    -fx-border-width: 2px;
}

.Animal_description {
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #000000;
}


.Animal_keeporadd {
    -fx-background-color: #BFF2E8;
    -fx-background-radius: 6px;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.Animal_CageNo{
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #00BE98;
    -fx-font-weight:bold;
}

.Button{

    -fx-background-color: #BFF2E8;
    -fx-background-radius: 6px;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.Button:hover{
    -fx-background-color: #00BE98;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box ,#11999E, 5, 0, 0, 0);
}